.header__link{
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 0 0;
    line-height: 22px;
}

.header__link:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
}