.popup__confirm-title{
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  margin: 0 0 38px;
}

@media screen and (max-width: 544px){
  .popup__confirm-title{
    font-size: 18px;
    line-height: 22px;
  }
}
