.profile__avatar-btn{
  background-image: url("../../../images/edit-avatar-hover.svg");
  padding: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0;
  border: 0;
  border-radius: 50%;
  position: absolute;
  height: 120px;
  width: 120px;
}
.profile__avatar-btn:hover {
  cursor: pointer;
  transition: 0.5s ease;
  opacity: 0.8;
  background-color: black;
}
