.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    min-height: calc(100vh - 145px - 119px);
}