.header__login-out{
    text-decoration: none;
    color: white;
    background-color: inherit;
    border: none;
    padding: 0 0;
}

.header__login-out:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
}