.profile__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 16px;
}

@media screen and (max-width: 762px){
    .profile__info{
        margin: 22px 0 36px;
        align-items: center;
    }
}
